$colors: (
    nav: #5B605F, /*--panel boczny, nawigacja--*/
    header: #4a4a49, /*--nagłówek, , kolor tekstu w kolumnach--*/
    logo: #e58a20, /*--kolor logo taki jak w dostarczonym snippecie--*/
    button: #FF6600, /*--przyciski, wyróżnienia, nagłówki ekranów--*/
    screen: #FFFFFA, /*--kolor tła ekranów--*/
    info: #3498DB, /*--kolor wiadomości typu info--*/
    warning: #FFB03B, /*--kolor wiadomości typu warning--*/
    success: #468966, /*--kolor wiadomości typu success--*/
    trash: #BD4932, /*--kolor ikony kosza--*/
    table: #A1A194 /*--kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji*/
)
