@import url('https://fonts.googleapis.com/css?family=Charmonman');
@import "../font-awesome/fontawesome";
@import "../font-awesome/icons";
@import "../font-awesome/regular";
@import "../font-awesome/solid";

body{
  height: 100vh;
}
.content-box {
    max-width: 1352px;
    margin: 0 auto;
}

body {
  font-family: $main-font;
  font-size: $base-size;
  box-sizing: border-box;
}

.content-box {
  max-width: 1352px;
  margin: 0 auto;
}
.app-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background-color: #4a4a49;
  box-sizing: border-box;
  border-bottom: 1px solid #00000066;
  h1{
    font-family: Charmonman;
    font-weight:100;
    color: white;
    font-size: 2rem;
    padding: 2rem 0 2rem 1rem;
  }
  h1 span{
    color:#FF6600;
    font-weight: 700;
  }
  p.icons{
    display: flex;
    align-items: center;
    color:#FFFFFA;
    font-family: Open Sans;
    font-size: 1.5rem;
    padding-right: 3rem;
    &:after{
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-user-circle);
      position: relative;
      color: #FF6600;
      font-size: 2.5rem;
      margin-left: 2rem;
    }
  }
}

.app-content {
  display: flex;
  height: 90%;
  .navMen {
    width: 20vw;
    font-family: "Open Sans";
    background-color: #5B605F;
    p{
      width: 100%;
      padding-top: 2rem;
      padding-bottom: 1rem;

    }
    a{
      font-size: 1.7rem;
      color: white;
      text-decoration: none;
      padding-left: 1.5rem;
      padding-top: 1rem;
      display: block;
      padding-bottom: 1rem;
      position: relative;
      transition: all 0.2s;
      &:hover{
        cursor: pointer;
        border-left: 3px #FF6600 solid;
        &:after{
          @extend %fa-icon;
          @extend .fas;
          content: fa-content($fa-var-chevron-right);
          position: absolute;
          right: 0;
          padding-right: 1rem;
          color: #FF6600;
        }
      }
      &.active{
        cursor: pointer;
        border-left: 3px #FF6600 solid;
        &:after{
          @extend %fa-icon;
          @extend .fas;
          content: fa-content($fa-var-chevron-right);
          position: absolute;
          right: 0;
          padding-right: 1rem;
          color: #FF6600;
        }
      }
    }
  }

  .appBase {
    width: 80vw;
    background-image: url("../assets/app-background.png");
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
  }
}
