.content-box {

    max-width: 1352px;
    margin: 0 auto;
}

//carousel
.carousel-box {
  position: relative;
}
@mixin button-change {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  opacity: 0.7;
  color: #fff;
  background-color: #999;
  cursor: pointer;
  padding: 10px;
  font-size: 28px;
  line-height: 39px;
  font-weight: bold;
}
#prevPicture {
  @include button-change;
}

#nextPicture {
  @include button-change;
  right: 0;
}

.carousel {
  list-style: none;
  width: 100%;
  height: 600px;
li {
  width: 100%;
  height: 100%;
  display: none;

  img {
    width: 100%;
    height: 100%;
  }
}
}

.carousel .visible {
    display: inline-block;
}
//carousel end

//CALL TO ACTION STYLES
.call-to-action-section .content-box {
    background-color: map_get($colors, header);
    color: #e5e5e5;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-family: $main-font;
}
.cta-banner {
    font-size: 2.5em;
    margin-bottom: 30px;
}
.cta-text {
    font-size: 1.3em;
    max-width: 750px;
}
%btn {
    background-color: map_get($colors, button);
    text-decoration: none;
    color: white;
}
.action-btn {
    @extend %btn;
    font-size: 1.5em;
    padding: 15px 35px;
    margin-left: 100px;
}

.landing-page-header-background-container {
  background: #5b605f;
}

.landing-page-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px 90px;
  h1 {
    font-family: $logo-font;
    font-size: 3rem;
    #first {
      font-weight: 100;
      color: white;
    }
    #second {
      color: map-get($map: $colors, $key: logo);
      font-weight: 700;
    }
  }
  .landing-page-nav {
    text-transform: uppercase;
    font-family: $main-font;
    font-size: 1rem;
    color: #fff;
    .landing-page-menu-list {
      display: flex;
      li {
        padding-left: 40px;
      }
      #menu-list-accent {
        color: map-get($map: $colors, $key: logo);
      }
    }
  }
}
