@import "../font-awesome/fontawesome";
@import "../font-awesome/icons";
@import "../font-awesome/regular";
@import "../font-awesome/solid";

.navMen{
  a{
    &.active{
      cursor: pointer;
      border-left: 3px #FF6600 solid;
      &:after{
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-chevron-right);
        position: absolute;
        right: 0;
        padding-right: 1rem;
        color: #FF6600;
      }
    }
  }
}
.recipes-content {
  border: 2px dotted map-get($colors, nav);
  background-color: map-get($colors, screen);
  color: map-get($colors, header);
  width: 100%;
  padding: 1rem 2rem;
}

//NAGŁÓWEK

.recipes-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid map-get($colors, table);
  h1{
    color: map-get($colors, button);
    font-size: 1.6rem;
    font-weight: bold;
  }
  p:after{
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-plus-square);
    position: relative;
    color: map-get($colors, success);
    font-size: 2rem;
    cursor: pointer;
  }
}
// NAGŁÓWEK LISTY

.sec-header{
  display: flex;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid map-get($colors, table);
  border-top: 1px solid map-get($colors, table);
  margin: 1rem 1rem 0 1rem;
  h1, h4{
    flex: 1;
  }
  h2{
    flex: 2;
  }
  h3{
    flex: 5;
  }
}
// LISTA
.all-recipes {
  font-size: 1rem;
  padding: 0 1.5rem;
  overflow: auto;
  height: 85%;
}
.recipes{
  display: flex;
  border-bottom: 1px solid #A1A194;
  padding: 1rem 0;
  .recipes-id{
    display: flex;
    flex: 1;
  }
  .recipes-action{
    display: flex;
    flex: 1;
  }
  .recipes-name{
    display: flex;
    flex: 2;
  }
  .recipes-description{
    display: flex;
    flex: 5;
  }
  //zmienione stylowanie DK
  .edit-icon-span {
    &:after {
      @extend %fa-icon;
      @extend .far;
      content: fa-content($fa-var-edit);
      position: relative;
      color: map-get($colors, warning);
      font-size: 1.2rem;
      cursor: pointer;
      padding-right: 1rem;
    }
  }

  .delete-icon-span {
    &:after {
      @extend %fa-icon;
      @extend .fas;
      content: fa-content($fa-var-trash-alt);
      position: relative;
      color: map-get($colors, trash);
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

}
// MODAL WINDOW

.add-recipes-section {
  display: none;
  background-color: #fffdf4;
  max-width: 1000px;
  border: 1px dashed darkgrey;
  color: map_get($colors, nav);
  flex: 1;
}
.add-recipes-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid darkgrey;
  align-items: center;
  margin: 0 auto;
}
.add-recipes-box {
  width: 95%;
  margin: 1.89rem auto 1.89rem auto;
}
.new-recipes-header {
  color: map_get($colors, button);
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}
#save-recipes-btn {
  text-decoration: none;
  border: none;
  background-color: map_get($colors, button);
  color: white;
  padding: 5px 10px;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
}
.recipes-name {
  font-size: 1.6rem;
  margin: 0.63rem 3.12rem 2.5rem 0.75rem;
  div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  div textarea {
    resize: none;
    width: 100%;
  }
}

#recipe-name {
  width: 100%;
}
.reciepies-label {
  width: 300px;
}
.recipes-details {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  textarea {
    resize: none;
    width: 25rem;
    box-sizing: border-box;
    margin-bottom: 1.9rem;
    margin-left: 0.63rem;
  }
}
.instruction-title {
  border-bottom: 2px solid darkgrey;
  width: 28rem;
  font-size: 1.6rem;
  margin-bottom: 0.63rem;
  text-transform: uppercase;
}
#ingredients-input {
  width: 25rem;
  margin-bottom: 3.75rem;
  height: 20px;
}
.add-btn {
  position: relative;
  vertical-align: top;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 30px;
  color: green;
  height: 0;
  width: 0;
  outline: 0;
}
%line-styles {
  margin-left: 10px;
  overflow: auto;
  width: 25rem;
  height: 11.25rem;
  line-height: 1.25rem;
}
.instruction-list {
  list-style: decimal;
  @extend %line-styles;
  list-style-position: inside;
}
.ingredients-list {
  list-style: disc;
  @extend %line-styles;
  list-style-position: inside;
}

